@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background: #1D1128;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
}


p{
  white-space:pre-wrap;
}

#topbar{
  background: #2d1a3d;
  height: 6vmax;
  overflow:visible;
}

#homeButton{
  position: absolute;
  left: 42%;
  top: 0.5vh;
  width: 15vw;
  height: 5vmax;
  z-index: 1;
  background-color: #2d1a3d;
  border: 0.75vmin #e6e6e6 solid;
  border-radius: 1vmin;
  color: #e6e6e6;
  font-family: 'Bungee', cursive;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

#homeButton:hover{
  opacity: 0.75;
  background-color: #1D1128;
  border-color:orange;
  transition: all 2s ease;
}

.link{
  color: orange;
  text-decoration: none;
}

#name{
  position: relative;
  top: -1vmax;
  font-size: 2.5vmax;
  font-family: 'Bungee', cursive;
  color: #e6e6e6;
  text-align: center;
}

#title{
  position: absolute;
  margin-top: 10px;
  top: 2.8vmax;
  left: 50vw;
  font-size: 1vmax;
  color: #e6e6e6;
  text-align: center;
  font-family: 'Open Sans', sans-serif
}

#diamondContainer{
  position: absolute;
  left: 40vw;
  top: 20vh;
}

#aboutMeContainer{
  position: absolute;
  width: 10vw;
  pointer-events:none;
}

#blogContainer{
  left: 10vw;
  width: 10vw;
  transform: scaleX(-1);
  pointer-events:none;
}

#portfolioContainer{
  position: absolute;
  top:8.7vmax;
  left: 5vw;
  width: 10vw;
  transform: rotate(60deg);
  pointer-events:none;
}

#aboutMeContainer:hover{
  width: 12vw;
  left: -2vw;
  top: -4.4vh;
}

#blogContainer:hover{
  left: 10vw;
  top: -4.4vh;
  width: 12vw;
}

#portfolioContainer:hover{
  width: 12vw;
  left: 4vw;
  top: 15.6vh;
}

#footer{
  position: fixed;
  top: 95vh;
  height: 5vh;
  width: 100%;
  background: #2d1a3d;
  overflow: hidden;
  text-align: center;
}

#footerText{
  position: relative;
  top: 10%;
  padding-left: 20px;
  color: #e6e6e6;
  text-align: center;
  font-size: 1.1rem;
}

.diamond{
  position: absolute;
  stroke: white;
  fill : transparent;
  pointer-events: visible;
  cursor: pointer;
}

#diamondText{
  fill: white;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 1.4rem;
}

#aboutMe{
  transform: rotate(30deg);
  pointer-events:all;
}

#blog{
  transform: rotate(30deg);
  pointer-events:all;
}

#portfolio{
  transform: rotate(30deg);
  pointer-events:all;
}

#aboutMe:hover{
  stroke:orange;
  transition: stroke 2s ease;
}

#blog:hover{
  stroke:orange;
  transition: stroke 2s ease;
}

#portfolio:hover{
  stroke:orange;
  transition: stroke 2s ease;
}

.charStat{
  color: rgb(250, 224, 175);
  outline: 3px solid white;
  margin-top: 1.5vh;
  padding: 5px;
  background: #342541;
  font-size: 1rem;
  width: 100%;
  word-wrap: break-word;
}

#statpage1{
  left: 1vw;
  position: absolute;
  width: 15vw;
  display: inline-block;
}

#statpage2{
  left: 89vw;
  position: absolute;
  width: 10vw;
  display: inline-block;
}

#backgroundContainer{
  position: absolute;
  width: 58vw;
  left: 21vw;
  text-align: center;
}

#backgroundHeader{
  color: orange;
  font-size: 2rem;
}

#background{
  font-size: 1rem;
  color: #e6e6e6;
  width: 58vw;
  word-break: normal;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
}

#aboutMePage{
  width: 100vw;
  margin: 0;
}

#portfolioHeader{
  text-align: center;
  font-size: 1rem;
  line-height: 20px;
  color: #e6e6e6;
}

.portfolioApp{
  position: relative;
  overflow: scroll;
  top: 1.25vh;
  left: 5vw;
  width: 90vw;
  height: 82vh;
}

.portfolioButton{
  width: 30vw;
}

#portfolioMenu{
  position: relative;
  top: 1vh;
  width: 90vw;
  left: 5vw;
}

.aboutMeImage{
  position: relative;
  top: 3vh;
  width : 350px;
  height : auto;
  border-radius: 20px;
  border: 5px solid #e6e6e6;
}
.arrow{
  position: relative;
  bottom: 18vh;
  cursor: pointer;
  border: 3px solid #e6e6e6;
  padding: 3px;
  background: transparent;
  color: #e6e6e6;
  border-radius: 10px;
}

.arrow:hover{
  border-color: orange;
  transition: all 2s ease;
}

#leftArrow{
  right: 1vw;
}

#rightArrow{
  left: 1vw;
}